* {
  padding: 0;
  margin: 0;
}

body {
  /* color: white;
  background-color: black; */
}

.navigation {
  /* you can use rgb for color, hex color, hsl */
  background-color: rgb(31, 31, 32);
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.navigation a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.first-section {
  height: 400px;
  background-size: cover;
  text-align: center;
  background-image: url("images/violet.jpg");
}

.first-section button {
  background-color: darkred;
  color: white;
  padding: 4px 20px 4px 20px;
  margin: 100px 0px 0px 0px;
  border: 2px black solid;
}

.second-section {
  padding: 40px;
}
.second-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.third-section{
  display: flex;
  padding: 40px;
  gap:8px;
}
.card {
  width: 25%;
}
 .card img {
  width: 100%;
}
.third-heading{
  text-align: center;

}
.third-section button {
  background-color: black;
  color: white;
  padding: 4px 20px 4px 20px;
  margin: 10px 0px 0px 0px;
  border: none;
}