/* this is a comment for css */

div {
  height: 100px;
}

/* to access class we use .  */

.black{
    color:white;
    background-color: black;
}

.yellow{

    background-color: yellow;
}
.red{

    background-color: red;
}