*{
    padding: 0;
    margin: 0;
}
.navigation{
    background-color: black;
    padding: 20px;
}
.showcase{
    color: white;
    background-image: url("dark-car.jpg") ;
    height:400px;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

.dark-para{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.293);
}

.white-btn{
    margin-top: 40px;
    padding: 10px 40px 10px 40px;
}


